backend:
  name: git-gateway
  branch: feature/donation
media_folder: content/images
public_folder: /assets
collections:
  - name: homepage
    label: Homepage
    files:
      - label: Homepage
        name: homepage
        file: content/homepage/homepage.json
        fields:
          - label: Header
            name: header
            widget: object
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Subtitle, name: subTitle, widget: string}
          - label: Introduction
            name: introduction
            widget: object
            fields:
              - {label: Description, name: description, widget: markdown}
              - {label: Newsletter title, name: newsletterTitle, widget: string}
              - {label: Newsletter button text, name: newsletterButton, widget: string}
          - label: Upcoming
            name: upcoming
            widget: object
            fields:
            - {label: Title, name: title, widget: string}
            - {label: Description, name: description, widget: markdown}
            - {label: Video Id, name: videoId, widget: string}
            - label: Links
              name: links
              widget: list
              fields:
                - {label: Name, name: name, widget: string}
                - {label: Url, name: url, widget: string}
                - {label: New window, name: newWindow, widget: boolean}
          - label: Tiles
            name: tiles
            widget: object
            fields:
            - label: Tile One
              name: tileOne
              widget: object
              fields:
                - {label: Title, name: title, widget: string}
                - {label: Name, name: name, widget: string}
            - label: Tile Two
              name: tileTwo
              widget: object
              fields:
                - {label: Title, name: title, widget: string}
                - label: Names
                  name: names
                  widget: list
                  fields:
                    - {label: Name, name: name, widget: string}
            - label: Tile Three
              name: tileThree
              widget: object
              fields:
                - {label: Title, name: title, widget: string}
                - {label: Name, name: name, widget: string}
          - label: Map
            name: map
            widget: object
            fields:
              - {label: Title, name: title, widget: string}
          - label: Venue
            name: venue
            widget: object
            fields:
              - {label: Description, name: description, widget: markdown}
          - label: About Video
            name: aboutVideos
            widget: object
            fields:
              - label: Title
                name: title
                widget: string
              - label: Video IDs
                name: videoIds
                widget: list
                fields:
                  - {label: ID, name: id, widget: string}
          - label: Activities
            name: activities
            widget: object
            fields:
              - {label: Title, name: title, widget: string}
              - label: Activity
                name: activity
                widget: list
                fields:
                  - {label: Name, name: name, widget: string}
                  - {label: Date, name: date, widget: string}
                  - {label: Description, name: description, widget: markdown}
          - label: Footer
            name: footer
            widget: object
            fields:
              - label: FAQ
                name: faq
                widget: object
                fields:
                  - label: Items
                    name: items
                    widget: list
                    fields:
                      - {label: Question, name: question, widget: string}
                      - {label: Answer, name: answer, widget: markdown}
  - name: donation
    label: Donation
    files:
      - label: Donation
        name: donation
        file: content/donation/donation.json
        fields:
          - label: Header
            name: header
            widget: object
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Subtitle, name: subTitle, widget: string}
          - label: Introduction
            name: introduction
            widget: object
            fields:
              - {label: Description, name: description, widget: markdown}
          - label: Donation
            name: donation
            widget: object
            fields:
              - {label: Title start, name: titleStart, widget: string}
              - {label: Title middle, name: titleMiddle, widget: string}
              - {label: Title end, name: titleEnd, widget: string}
              - label: Tile One
                name: tileOne
                widget: object
                fields:
                  - {label: Title, name: title, widget: string}
                  - {label: Button text, name: buttonText, widget: string}
                  - {label: Button url, name: buttonUrl, widget: string}
              - label: Tile Two
                name: tileTwo
                widget: object
                fields:
                  - {label: Title, name: title, widget: string}
                  - {label: Button text, name: buttonText, widget: string}
                  - {label: Button url, name: buttonUrl, widget: string}
              - label: Tile Three
                name: tileThree
                widget: object
                fields:
                  - {label: Title, name: title, widget: string}
                  - {label: Button text, name: buttonText, widget: string}
                  - {label: Button url, name: buttonUrl, widget: string}
              - {label: Secondary button text, name: secondaryButtonText, widget: string}
              - {label: Secondary button url, name: secondaryButtonUrl, widget: string}
          - label: Info
            name: info
            widget: object
            fields:
            - {label: Newsletter title, name: newsletterTitle, widget: string}
            - {label: Newsletter description, name: newsletterDescription, widget: string}
            - {label: Newsletter button text, name: newsletterButton, widget: string}
            - {label: Title, name: title, widget: string}
            - label: Links
              name: links
              widget: list
              fields:
                - {label: Name, name: name, widget: string}
                - {label: Url, name: url, widget: string}
          - label: About
            name: about
            widget: object
            fields:
            - {label: Title, name: title, widget: string}
            - {label: Description, name: description, widget: markdown}
            - {label: Video Id, name: videoId, widget: string}
            - label: Links
              name: links
              widget: list
              fields:
                - {label: Prefix, name: prefix, widget: string}
                - {label: Name, name: name, widget: string}
                - {label: Url, name: url, widget: string}
                - {label: New window, name: newWindow, widget: boolean}
          - label: Footer
            name: footer
            widget: object
            fields:
              - label: FAQ
                name: faq
                widget: object
                fields:
                  - label: Items
                    name: items
                    widget: list
                    fields:
                      - {label: Question, name: question, widget: string}
                      - {label: Answer, name: answer, widget: markdown}
  - name: globals
    label: Globals
    files:
      - label: Globals
        name: globals
        file: content/globals.json
        fields:
          - label: Address
            name: address
            widget: object
            fields:
              - {label: Name, name: name, widget: string}
              - label: Coordinates
                name: coordinates
                widget: object
                fields:
                  - {label: Lat, name: lat, widget: string}
                  - {label: Long, name: lng, widget: string}
          - label: Footer
            name: footer
            widget: object
            fields:
              - label: Contact
                name: contact
                widget: object
                fields:
                  - {label: Title, name: title, widget: string}
                  - label: Facebook
                    name: facebook
                    widget: object
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Url, name: url, widget: string}
                  - label: Instagram
                    name: instagram
                    widget: object
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Url, name: url, widget: string}
                  - label: Whatsapp
                    name: whatsapp
                    widget: object
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Url, name: url, widget: string}
                  - label: E-mail
                    name: email
                    widget: object
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Url, name: url, widget: string}
                  - label: E-mail 2
                    name: email2
                    widget: object
                    fields:
                      - {label: Title, name: title, widget: string}
                      - {label: Url, name: url, widget: string}
              - {label: Copyright name, name: copyrightName, widget: string}
