<!doctype html>
<html lang="nl">
	<head>
		<title><% preact.title %></title>
		<meta charset="utf-8">
		<meta name="title" content="STROOM Amsterdam">
		<meta name="description" content="Elke zondag 11u, Nieuwe Herengracht 18. Meld je aan voor de nieuwsbrief! En meer van zulks.">
		<meta name="keywords" content="Zondag, Stroom">
		<meta name="author" content="STROOM Amsterdam">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="og:title" content="STROOM Amsterdam - een soort kerk!" />
		<meta property="og:description" content="Hier staat een wervende tekst om je naar de site te lokken. Een site waar je kunt lezen dat Stroom elke zondag om 11u plaatsvindt. Klik nu!" />
		<meta property="og:image" content="https://stroomamsterdam.nl/assets/str00m_avatar.png" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta property="og:title" content="<%= (htmlWebpackPlugin.options.seo && htmlWebpackPlugin.options.seo.title) || htmlWebpackPlugin.options.title %>" />
		<% if(htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) {%>
			<meta property="og:image" content="<%= htmlWebpackPlugin.options.seo.cover %>" />
		<% } %>
		<% if(htmlWebpackPlugin.options.seo && 'subtitle' in htmlWebpackPlugin.options.seo) {%>
			<meta property="og:description" content="<%= htmlWebpackPlugin.options.seo.subtitle %>" />
			<meta property="description" content="<%= htmlWebpackPlugin.options.seo.subtitle %>" />
		<% } %>
		<meta name="twitter:card" content="<%= (htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) ? 'summary_large_image' : 'summary'%>" />
		<% if(htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) {%>
			<meta name="twitter:image" content="<%= htmlWebpackPlugin.options.seo.cover %>">
		<% } %>
		<% if(htmlWebpackPlugin.options.seo && 'subtitle' in htmlWebpackPlugin.options.seo) {%>
			<meta property="twitter:description" content="<%= htmlWebpackPlugin.options.seo.subtitle %>" />
		<% } %>
		<meta name="msapplication-TileImage" content="./assets/favicons/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="./assets/favicons/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="./assets/favicons/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="./assets/favicons/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="./assets/favicons/mstile-310x310.png" />
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="./assets/favicons/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/favicons/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/favicons/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/favicons/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="./assets/favicons/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="./assets/favicons/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="./assets/favicons/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="./assets/favicons/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="./assets/favicons/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="./assets/favicons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="./assets/favicons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="./assets/favicons/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="./assets/favicons/favicon-128.png" sizes="128x128" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
